<!DOCTYPE html>
<html>
<head>
    <title>Ineses Web Lapa</title>
</head>
<body>
    <div>
        <hr />
        @RenderBody()
        <footer>
            <p>&copy;  - <em>Ineses</em> .NET Web Aplikācija</p>
        </footer>
    </div>
</body>
</html>

