<!DOCTYPE html>
<html>
<head>

    <title>Ineses Web Lapa</title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <ol>
            <li>Nopirkt dārzeņus</li>
            <li> Nopirkt banānus</li>
        </ol>
        <footer>
            <p>&copy;  - <em>Ineses</em> .NET Web Aplikācija</p>
        </footer>
    </div>

</body>
</html>